<div class="card mt-5">
    <div class="card-body">
        <h1>Interpolation</h1>
        <hr>
        <h1>Value of Num : {{num}}</h1>
        <h2>Value of age : {{age}}</h2>


        <ul class="list-group">
            <li class="list-group-item">{{avenger.characters}}</li>
            <li class="list-group-item">{{avenger.year}}</li>
            <li class="list-group-item">{{avenger.company}}</li>
        </ul>


        <h3>3 times 4 is {{4*3}}</h3>
        <h3>sum of num and age is {{num+age}}</h3>
        </div>
</div>

<div class="container">
    <h1>Property Binding</h1>
    <hr>

    <img src={{path}} height={{imgheight}}>


    <button class="btn btn-primary" (click)="increaseSize()">Magnify</button>


</div>

<!--  -->