<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/oneway']" routerLinkActive="router-link-active" >Oneway</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="router-link-active" >Sign In</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>

<h1>Welcome to First Angular Application!!</h1>

<!-- <div class="text-center">
    <div class="btn-group">
        <button [routerLink]="['/oneway']" routerLinkActive="router-link-active"  class="btn btn-secondary">One Way Component</button>
        <button [routerLink]="['/twoway']" routerLinkActive="router-link-active"  class="btn btn-secondary">Two Way Component</button>
        <button [routerLink]="['/form']" routerLinkActive="router-link-active"  class="btn btn-secondary">Reactive Form Component</button>
    </div>
</div> -->

<router-outlet></router-outlet>

<!-- <app-login></app-login>
<app-register></app-register>

<app-onewaybinding></app-onewaybinding>

<app-two-way></app-two-way>

<app-reactive-form></app-reactive-form> -->